<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Home</title>
    <link rel="icon" type="image/x-icon"
        href="https://spng.pngfind.com/pngs/s/150-1504262_png-courses-asian-restaurant-transparent-png.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class='bold-line'></div>
    <div class='container'>
        <div class='window'>
            <div class='overlay'></div>
            <div class='content'>
                    <form method="post" action="all-courses">
                    <div class='welcome'>Hello There!</div>
                    <div class='subtitle'>Please Create your Course Here!!!
                    </div>
                    <div class='input-fields'>
                        <input type='text' placeholder='Course Name' class='input-line full-width' name="courseName"></input>
                        <input type='text' placeholder='Course Title' class='input-line full-width' name="courseTitle"></input>
                        <input type='text' placeholder='Course Number' class='input-line full-width' name="courseNumber"></input>
                    </div><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <div><button class='ghost-round full-width' type="submit">Create Course</button></div>
                </form>
                </div>
        </div>
    </div>
</body>

</html>